.about{
    background-color: #353538;
    padding-top: 50px;
    height: 850px;
    font-size: 40px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

}
.addTaskButton {
    height:40px ;
    width: 100px;
    background-color: rgb(19, 93, 255);
    color: white;
    border: none;
    border-radius: 0.5rem;
    font-size: 1rem;
    box-shadow: 0px 5px 10px #a8b1ff;
    padding: 0 1rem;
  }
  
  .addTaskButton:hover {
    box-shadow: 0px 3px 5px #7f89e0;
    cursor: pointer
  }

 
