/*Media queries to make the contents responsive in the screen which has the resolution less or equal to 768px*/

@media (max-width: 768px) {
  .about{
    background-color: #353538;
    height: 900px;
    font-size: 12px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content:  flex-start;
    align-items: center;

}
.addTaskButton {
    height:30px ;
    width: 100px;
    background-color: rgb(19, 93, 255);
    color: white;
    border: none;
    border-radius: 0.5rem;
    font-size: 1rem;
    box-shadow: 0px 5px 10px #a8b1ff;
    padding: 0 1rem;
  }
  
  .addTaskButton:hover {
    box-shadow: 0px 3px 5px #7f89e0;
    cursor: pointer
  }

  .authorDetail{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 18px;
    align-items: center;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
  }

  

  footer{
    margin-top: 100px;
    font-size: 10px;
  }

}

/*Media queries to make the contents responsive in the screen which has the resolution equal to 769px or more*/
@media screen and (min-width: 769px) {
  .about{
    background-color: #353538;
    height: 900px;
    font-size: 24px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content:  flex-start;
    align-items: center;

}
.addTaskButton {
    height:40px ;
    width: 100px;
    background-color: rgb(19, 93, 255);
    color: white;
    border: none;
    border-radius: 0.5rem;
    font-size: 1rem;
    box-shadow: 0px 5px 10px #a8b1ff;
    padding: 0 1rem;
  }
  
  .addTaskButton:hover {
    box-shadow: 0px 3px 5px #7f89e0;
    cursor: pointer
  }
  .authorDetail{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 18px;
    align-items: center;
    margin-top: 20px;
    margin-left: 200px;
    margin-right: 200px;
  }

  footer{
    margin-top: 100px;
    font-size: 14px;
  }

}

 

 
