.form {
  
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    width: 50%;
    font-size: 22px;
    font-weight: 400;
    font-style: normal;
    color: white;
    margin-bottom: 100px;

  }


  
  .textfield {
    background-color: #fefefe;
    border: none;
    border-radius: 0.5rem;
    height: 100%;
    margin-right: 10px;
    padding: 5px 10px;
    font-size: 1rem;
    box-shadow: 0px 5px 10px rgb(218, 218, 218);
    box-sizing: border-box;
  }
  
  .textfield:focus {
    outline: none !important;
    box-shadow: 0px 3px 5px rgb(218, 218, 218);
  }
  .option_textfield{
    background-color: #fefefe;
    border: none;
    border-radius: 0.5rem;
    height: 100%;
    margin-right: 25px;
    padding: 5px 10px;
    font-size: 1rem;
    box-shadow: 0px 5px 10px rgb(218, 218, 218);
    box-sizing: border-box;
    width: 100px;
   
  }
  
  .submit-btn {
    height: 100%;
    background-color: rgb(19, 93, 255);
    color: white;
    border: none;
    border-radius: 0.5rem;
    font-size: 1rem;
    box-shadow: 0px 5px 10px #a8b1ff;
    padding: 0 1rem;
    margin-left: 25px;
  }
  
  .submit-btn:hover {
    box-shadow: 0px 3px 5px #7f89e0;
  }

  .stopWatch{
    
    height: fit-content;
    display: flex;
    align-items: center;
  }

  .stopWatchButton{
    height: 100%;
    background-color: rgb(19, 93, 255);
    color: white;
    border: none;
    border-radius: 0.5rem;
    font-size: 1rem;
    box-shadow: 0px 5px 10px #a8b1ff;
    padding: 0 1rem;
    margin-left: 25px;
  }




  @media (max-width: 768px) {

    .form {
      margin-top: 40px;
      margin-bottom: 100px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 2rem;
      width: 40%;
      font-size: 14px;
      font-weight: 600;
      font-style: normal;
      color: white;
     
  
    }
  
    .textfield {
      background-color: #fefefe;
      border: none;
      border-radius: 0.5rem;
      height: 100%;
      margin: 0 0 10px 0;
      font-size: 1rem;
      box-shadow: 0px 5px 10px rgb(218, 218, 218);
      box-sizing: border-box;
    }
    
    .textfield:focus {
      outline: none !important;
      box-shadow: 0px 3px 5px rgb(218, 218, 218);
    }
    .option_textfield{
      background-color: #fefefe;
      border: none;
      border-radius: 0.5rem;
      height: 100%;
      margin: 0 0 20px 0;
      font-size: 1rem;
      box-shadow: 0px 5px 10px rgb(218, 218, 218);
      box-sizing: border-box;
      width: 100px;
      
    }
    
    .submit-btn {
      height: 100%;
      background-color: rgb(19, 93, 255);
      color: white;
      border: none;
      border-radius: 0.5rem;
      font-size: 1rem;
      box-shadow: 0px 5px 10px #a8b1ff;
      padding: 0 1rem;
      margin: 0 0 10px 0;
    }
    
    .submit-btn:hover {
      box-shadow: 0px 3px 5px #7f89e0;
    }
  
    .stopWatch{ 
      height: fit-content;
      display: flex;
      align-items: center;
      justify-content: center;
      
      
    }
  
    .stopWatchButton{
      height: 100%;
      background-color: rgb(19, 93, 255);
      color: white;
      border: none;
      border-radius: 0.5rem;
      font-size: 1rem;
      box-shadow: 0px 5px 10px #a8b1ff;
      padding: 0 1rem;
      margin: 0 0 20px 0;
     
      
    }
     
  
  }




  @media screen and (min-width: 768px) and (max-width: 1420px) {


    .form {
  
      display: flex;
      justify-content: center;
      align-items: center;
      height: 2rem;
      width: 50%;
      font-size: 22px;
      font-weight: 400;
      font-style: normal;
      color: white;
      margin-bottom: 100px;
  
    }
  
  
    
    .textfield {
      background-color: #fefefe;
      border: none;
      border-radius: 0.5rem;
      height: 100%;
      margin-right: 10px;
      padding: 5px 10px;
      font-size: 1rem;
      box-shadow: 0px 5px 10px rgb(218, 218, 218);
      box-sizing: border-box;
    }
    
    .textfield:focus {
      outline: none !important;
      box-shadow: 0px 3px 5px rgb(218, 218, 218);
    }
    .option_textfield{
      background-color: #fefefe;
      border: none;
      border-radius: 0.5rem;
      height: 100%;
      margin-right: 25px;
      padding: 5px 10px;
      font-size: 1rem;
      box-shadow: 0px 5px 10px rgb(218, 218, 218);
      box-sizing: border-box;
      width: 100px;
     
    }
    
    .submit-btn {
      height: 100%;
      background-color: rgb(19, 93, 255);
      color: white;
      border: none;
      border-radius: 0.5rem;
      font-size: 1rem;
      box-shadow: 0px 5px 10px #a8b1ff;
      padding: 0 1rem;
      margin-left: 25px;
    }
    
    .submit-btn:hover {
      box-shadow: 0px 3px 5px #7f89e0;
    }
  
    .stopWatch{
      
      height: fit-content;
      display: flex;
      align-items: center;
    }
  
    .stopWatchButton{
      height: 100%;
      background-color: rgb(19, 93, 255);
      color: white;
      border: none;
      border-radius: 0.5rem;
      font-size: 0.8rem;
      box-shadow: 0px 5px 10px #a8b1ff;
      padding: 0 1rem;
      margin-left: 25px;
    }
  
    
  }

  @media screen and (min-width: 768px) and (max-width: 1240px) {
    .stopWatchButton{
      height: 100%;
      background-color: rgb(19, 93, 255);
      color: white;
      border: none;
      border-radius: 0.5rem;
      font-size: 0.8rem;
      box-shadow: 0px 5px 10px #a8b1ff;
      padding: 0 0.95rem;
      margin-left: 25px;
    }
  }