.setting{
    background-color: #353538;
    padding-top: 50px;
    height: 850px;
    font-size: 30px;
    color: white;
    display: flex;
    justify-content: center;

}

#light {
    background-color: white;
    color: rgb(19, 93, 255);
  }
  
#dark {
    background-color: #353538;
  }

 

.switch {
    display: flex;
    width: 100vw;
    height: 100px;
    justify-content: center;
    align-items: center;
  }
.theme-btn{
    height: 40px;
    background-color: rgb(19, 93, 255);
    color: white;
    border: none;
    border-radius: 0.5rem;
    font-size: 1rem;
    box-shadow: 0px 5px 10px #a8b1ff;
    padding: 0 1rem;
    margin-left: 25px;
}

.theme-btn:hover {
    box-shadow: 0px 3px 5px #7f89e0;
    cursor: pointer
  }

/*Media queries to make the contents responsive in the screen which has the resolution less or equal to 768px*/
  @media (max-width: 500px) {

    .setting{
      background-color: #353538;
      padding-top: 50px;
      height: 850px;
      font-size: 20px;
      color: white;
      display: flex;
      justify-content: center;
  
  }
   
  }

  