.tasks{
    background-color: #353538;
    padding-top: 50px;
    height: 850px;
    max-height: 100vh;
    overflow-y: auto;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
     
}

.searchBarTypes{
    display: flex;
    justify-content: space-around;
    margin-bottom: 60px;
}