.todo-list {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* To center across the page */
    width: 40%;
    margin: 1rem auto;
  }

/*Media queries to make the contents responsive in the screen which has the resolution less or equal to 768px*/
@media (max-width: 768px) {


  .todo-list {
  
    display: flex;
    flex-direction: column;
    align-items: center;
    /* To center across the page */
    width: 40%;
    margin: 100px
  }
}

