.tasks{
    background-color: #353538;
    padding-top: 50px;
    height: 850px;
    max-height: 100vh;
    overflow-y: auto;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
     
}

.searchBarTypes{
    display: flex;
    justify-content: space-around;
    margin-bottom: 60px;
}

.textfield_filter {
  background-color: #fefefe;
  border: none;
  border-radius: 0.5rem;
  height: 100%;
  margin-right: 10px;
  padding: 5px 10px;
  font-size: 1rem;
  box-shadow: 0px 5px 10px rgb(218, 218, 218);
  box-sizing: border-box;
}

.types_textfield{
  background-color: #fefefe;
  border: none;
  border-radius: 0.5rem;
  height: 100%;
  margin-right: 25px;
  padding: 5px 10px;
  font-size: 1rem;
  box-shadow: 0px 5px 10px rgb(218, 218, 218);
  box-sizing: border-box;
  width: 100px;
}
/*Media queries to make the contents responsive in the screen which has the resolution less or equal to 768px*/
@media (max-width: 768px) {

  .tasks{
    background-color: #353538;
    padding-top: 50px;
    height: 850px;
    max-height: 100vh;
    overflow-y: auto;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
     
}

.searchBarTypes{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 0 0 0;
  
}

.textfield_filter {
  background-color: #fefefe;
  border: none;
  border-radius: 0.5rem;
  height: 100%;
  font-size: 1rem;
  box-shadow: 0px 5px 10px rgb(218, 218, 218);
  box-sizing: border-box;
}

.types_textfield{
background-color: #fefefe;
border: none;
border-radius: 0.5rem;
height: 100%;
font-size: 1rem;
box-shadow: 0px 5px 10px rgb(218, 218, 218);
box-sizing: border-box;
width: 100px;
margin: 0 0 0 0;
}
   

}


